<!DOCTYPE html>
<html lang="en">
  <head>
    <%= include_partial "head" %>
  </head>
  <body data-bs-theme="dark" class="d-flex flex-column" style="height: 100vh;">
    <%= include_partial "header" %>
    <div class="article flex-grow-1 overflow-y-auto">
      <h1><%= @context[:content_item]["title"] %></h1>
      <!-- edit form -->
      <form action="/save" method="post">
        <div class="container">
          <div class="row mb-2">
            <div class="col" style="flex: 0 0 5rem;">
              Type
            </div>
            <div class="col">
              <input type="text" name="title" class="form-control" value="<%= @data[:content]["content_type"] %>">
            </div>
          </div>
          <div class="row mb-2">
            <div class="col" style="flex: 0 0 5rem;">
              Title
            </div>
            <div class="col">
              <input type="text" name="title" class="form-control" value="<%= @data[:content]["title"] %>">
            </div>
          </div>
          <div class="row mb-2">
            <div class="col" style="flex: 0 0 5rem;">
              Author
            </div>
            <div class="col">
              <input type="text" name="author" class="form-control" value="<%= @data[:content]["author"] %>">
            </div>
          </div>
          <div class="row mb-2">
            <div class="col">
              <textarea id="content-field" class="form-control" rows="1" style="overflow-y: hidden;"><%= @data[:content]["content"] %></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button class="btn btn-primary">Save</button>
              <!-- TODO: this assumes content is a page, for now... -->
              <a class="btn btn-danger" href="/<%= @data[:content]['id'] %>">Cancel</a>
            </div>
          </div>
        </div>
      </form>
      <hr />
      <%= include_content %>
    </div>
    <%= include_partial "footer" %>
    <script>
      function autoheightTextarea(id) {
        const element = document.getElementById(id);
        element.style.height = 'auto';
        let lastHeight = element.style.height;
        let lastScrollHeight = element.scrollHeight;
        console.log('INITIAL', lastHeight, lastScrollHeight);
        function updateTextareaHeight() {
          console.log('before', element.style.height, element.scrollHeight);

          element.style.height = `${element.scrollHeight}px`;
          console.log('after', element.style.height, element.scrollHeight);
        }
        updateTextareaHeight();
        element.addEventListener('keydown', () => {
          updateTextareaHeight();
        });
      }

      autoheightTextarea('content-field');
    </script>
  </body>
</html>