<% if current_sort_column == column_name %>
  <a href="/home/<%= tab %>?sort-column=<%= column_name %>&sort-direction=<%= current_sort_direction == 'ascending' ? 'descending' : 'ascending' %>">
    <%= title %>
    <span class="bi bi-caret-<%= current_sort_direction == 'descending' ? 'down' : 'up' %>-fill"></span>
  </a>
<% else %>
  <%# if not sorted by this column, default to ascending %>
  <a href="/home/<%= tab %>?sort-column=<%= column_name %>&sort-direction=ascending">
    <%= title %>
    <%# <span class="bi bi-caret-down"></span> %>
  </a>
<% end %>