<!DOCTYPE html>
<html lang="en">
  <head>
    <%= include_partial "head" %>
  </head>
  <body data-bs-theme="dark" class="d-flex flex-column" style="height: 100vh;">
    <%= include_partial "page-header" %>
    <div class="card border-danger m-4">
      <div class="card-header">
        Confirm deletion
      </div>
      <div class="card-body">
        <form action="/delete/<%= @data[:content]["id"] %>" 
              class="full-height-flex" 
              method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="return_path" value="<%= @data[:return_path_success] %>">
          <div style="flex: 0 0 auto;" class="mt-2">
            <p>Really delete the <%= @data[:content_type]['noun'] %> with title <%= @data[:content]['title'] %>?</p>
          </div>
          
          <div style="flex: 0 0 auto; display: flex; flex-direction: row; align-items: center; justify-content: center; margin-top: 1rem;">
            <button class="btn btn-danger">Yes</button>
            <a class="btn btn-outline-primary ms-2" href="<%= @data[:return_path_cancel] %>">No</a>
          </div> 
          <div class="alert alert-info" style="flex: 0 0 auto; text-align: center; justify-content: center; margin-top: 1rem;">
            Will return to <code><%= @data[:return_path_success] %></code> after Deleting or <code><%= @data[:return_path_cancel] %></code> after Canceling.
          </div>
      
        </form>
      </div>
    </div>
    <%= include_partial "footer" %>
  </body>
</html>