<!DOCTYPE html>
<html lang="en">
  <head>
    <%= include_partial "head" %>
  </head>
  <body data-bs-theme="dark" class="d-flex flex-column two-column-page">
    <%= include_partial "home-header" %>
    <div class="home flex-grow-1 overflow-y-auto">

      <div class="page-header">
        <ul class="nav nav-pills justify-content-start fs-3" role="tablist">
          <li class="nav-item" role="tab" <% if @tab == 'home'%>aria-selected<% end %>>
            <a class="nav-link <% if @tab == 'home'%>active<% end %>" aria-current="pages" href="/home">Home</a>
          </li>
          <li class="nav-item" role="tab" <% if @tab == 'page'%>aria-selected<% end %>>
            <a class="nav-link <% if @tab == "page"%>active<% end %>" aria-current="pages" href="/home/page">Pages</a>
          </li>
          <li class="nav-item" role="tab" <% if @tab == 'article'%>aria-selected<% end %>>
            <a class="nav-link <% if @tab == "article"%>active<% end %>" href="/home/article">Articles</a>
          </li>
          <li class="nav-item" role="tab" <% if @tab == 'blog'%>aria-selected<% end %>>
            <a class="nav-link <% if @tab == "blog"%>active<% end %>" href="/home/blog">Blog</a>
          </li>
          <li class="nav-item" role="tab" <% if @tab == 'thought'%>aria-selected<% end %>>
            <a class="nav-link <% if @tab == "thought"%>active<% end %>" href="/home/thought">Thoughts</a>
          </li>
          <li class="nav-item" role="tab" <% if @tab == 'project'%>aria-selected<% end %>>
            <a class="nav-link <% if @tab == "project"%>active<% end %>" href="/home/project">Projects</a>
          </li>
        </ul>
      </div>
      
      <div class="tab-content mt-2" style="flex: 1 1 0; display: flex; flex-direction: column;">
        <div class="tab-pane show active" style="flex: 1 1 0; display: flex; flex-direction: column;">
          <div class="content-area -grid">
            <div class="-col1">
              <div style="overflow-y: auto;">
                <%= include_content %>
              </div>
            </div>
            <div class="-col2" style="display: flex; flex-direction: column; align-items: flex-end;">
               <ul class="nav flex-column" style="width: 14rem">
                 <% if can_edit? %>
                  <li class="nav-item">
                    <a class="nav-link" 
                      href="/edit/<%= @context[:content_type]['id'] %>/<%= @context[:content_id] %>?return_path=<%= @context[:path] %>">
                        <span class="bi bi-pencil"></span> 
                        Edit this <%= @context[:content_type]['noun'] %>
                    </a>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= include_partial "footer" %>
  </body>
</html>