<!DOCTYPE html>
<html lang="en">
  <head>
    <%= include_partial "head" %>
  </head>
  <body data-bs-theme="dark" class="d-flex flex-column two-column-page" style="height: 100vh;">
    <%= include_partial "home-header" %>
    <div class="home flex-grow-1 overflow-y-auto">
      <ul class="nav nav-pills justify-content-start fs-3" role="tablist">
        <li class="nav-item" role="tab" <% if @tab == 'home'%>aria-selected<% end %>>
          <a class="nav-link <% if @tab == 'home'%>active<% end %>" aria-current="pages" href="/home">Home</a>
        </li>
        <li class="nav-item" role="tab" <% if @tab == 'pages'%>aria-selected<% end %>>
          <a class="nav-link <% if @tab == "pages"%>active<% end %>" aria-current="pages" href="/home/pages">Pages</a>
        </li>
        <li class="nav-item" role="tab" <% if @tab == 'articles'%>aria-selected<% end %>>
          <a class="nav-link <% if @tab == "articles"%>active<% end %>" href="/home/articles">Articles</a>
        </li>
        <li class="nav-item" role="tab" <% if @tab == 'blog'%>aria-selected<% end %>>
          <a class="nav-link <% if @tab == "blog"%>active<% end %>" href="/home/blog">Blog</a>
        </li>
        <li class="nav-item" role="tab" <% if @tab == 'thoughts'%>aria-selected<% end %>>
          <a class="nav-link <% if @tab == "thoughts"%>active<% end %>" href="/home/thoughts">Thoughts</a>
        </li>
        <li class="nav-item" role="tab" <% if @tab == 'projects'%>aria-selected<% end %>>
          <a class="nav-link <% if @tab == "projects"%>active<% end %>" href="/home/projects">Projects</a>
        </li>
      </ul>
      <div class="tab-content mt-2">
        <div class="tab-pane show active">
          <div class="content-area -grid">
            <div class="-col1">
              <div style="overflow-y: auto;">
                <%= include_content %>
              </div>
            </div>
            <div class="-col2">
               <ul class="nav flex-column" style="width: 12rem">
                 <% if can_edit? %>
                  <li class="nav-item">
                    <a class="nav-link" 
                      href="/edit/<%= @context[:content_id] %>?return_path=<%= @context[:path] %>">
                        <span class="bi bi-pencil"></span> 
                        Edit this <%= @context[:content_type]['noun'] %>
                    </a>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= include_partial "footer" %>
  </body>
</html>