<!DOCTYPE html>
<html lang="en">
  <head lang="en">
    <%= include_partial "head" %>
  </head>
  <body data-bs-theme="dark" class="d-flex flex-column">
    <%= include_partial "home-header" %>
    <%# <div class="home flex-grow-1 d-flex flex-direction-column"> %>
    <div class="home flex-grow-1 overflow-y-auto">
       <div class="page-header">
        <ul class="nav nav-pills justify-content-start fs-3" role="tablist">
          <li class="nav-item" role="tab" <% if @tab == 'home'%>aria-selected<% end %>>
            <a class="nav-link <% if @tab == 'home'%>active<% end %>" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item" role="tab" <% if @tab == 'page'%>aria-selected<% end %>>
            <a class="nav-link <% if @tab == "page"%>active<% end %>" aria-current="page" href="/home/page">Pages</a>
          </li>
          <li class="nav-item" role="tab" <% if @tab == 'article'%>aria-selected<% end %>>
            <a class="nav-link <% if @tab == "article"%>active<% end %>" href="/home/article">Articles</a>
          </li>
          <li class="nav-item" role="tab" <% if @tab == 'blog'%>aria-selected<% end %>>
            <a class="nav-link <% if @tab == "blog"%>active<% end %>" href="/home/blog">Blog</a>
          </li>
          <li class="nav-item" role="tab" <% if @tab == 'thought'%>aria-selected<% end %>>
            <a class="nav-link <% if @tab == "thought"%>active<% end %>" href="/home/thought">Thoughts</a>
          </li>
          <li class="nav-item" role="tab" <% if @tab == 'project'%>aria-selected<% end %>>
            <a class="nav-link <% if @tab == "project"%>active<% end %>" href="/home/project">Projects</a>
          </li>
        </ul>
      </div>
      <div class="tab-content" style="flex: 1 1 0; display: flex; flex-direction: column;">
        <div class="tab-pane show active" style="flex: 1 1 0; display: flex; flex-direction: column;">
            <div class="adapt-flex-table mt-2 mb-2" style="flex: 0 0 auto;">
              <div class="adapt-flex-row">
                <div class="adapt-flex-col" style="flex: 1 1 0; justify-content: center;">
                  <form action="<%= @context[:path] %>" method="get" class="form form-horizontal adapt-flex-row" style="align-items: center;">
                    <div class="input-group"  style="width: 12rem;">
                    <input type="text" class="form-control" name="search" value="<%= @context[:params]['search'] || '' %>">
                    <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                    <div class="ms-2">
                      <% if @context[:content_list].length == 0 %>
                        No items.
                      <% else %>
                        <%= @context[:content_list].length %> item<%= @context[:content_list].length != 1 ? 's' : '' %>
                      <% end %>
                    </div>
                  </form>
                </div>
                <div class="adapt-flex-col" style="flex: 2 1 0">
                  <div class="adapt-flex-row" style="justify-content: center; align-items: center;">
                    <span class="me-2">Order by</span>
                    <div class="btn-group">
                      <% if @sort_column != 'title' %>
                        <a class="btn btn-outline-primary" href="/home/<%= @tab %>?sort-column=title&sort-direction=ascending">Title</a>
                      <% else %>
                        <a class="btn btn-success" disabled>Title</a>
                      <% end %>
                      <% if @sort_column != 'created' %>
                        <a class="btn btn-outline-primary" href="/home/<%= @tab %>?sort-column=created&sort-direction=descending">Time Created</a>
                      <% else %>
                        <a class="btn btn-success" disabled>Time Created</a>
                      <% end %>
                      <% if @sort_column != 'last_updated' %>
                        <a class="btn btn-outline-primary" href="/home/<%= @tab %>?sort-column=last_updated&sort-direction=descending">Time Updated</a>
                      <% else %>
                        <a class="btn btn-success" disabled>Time Updated</a>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="adapt-flex-col" style="flex: 1 1 0; align-items: flex-end;">
                  <% if !@context[:session].nil? && @context[:session]['can_edit'] %>
                    <div class="btn-toolbar">
                      <a class="btn btn-outline-secondary" href="/add/<%= @content_type['id'] %>?return_path=<%= @context[:path] %>">
                        <span class="bi bi-plus"></span> 
                        Add <%= "aeiou".include?(@content_type['noun'][0].downcase) ? 'an' : 'a' %> <%= @content_type['noun'] %>
                      </a>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
              <div class="adapt-flex-table -bordered" style="flex: 1 1 0;">
              <div class="adapt-flex-table-header">
                <div class="adapt-flex-row">
                  <div class="adapt-flex-col" style="flex: 0 0 2rem;"></div>
                  <div class="adapt-flex-col">
                    <%= include_column_title 'Title', 'title' %>
                  </div>
                  <div class="adapt-flex-col">
                    <%= include_column_title 'Author', 'author' %>
                  </div>
                  <div class="adapt-flex-col">
                    <%= include_column_title 'Created', 'created' %>
                  </div>
                  <div class="adapt-flex-col">
                    <%= include_column_title 'Updated', 'last_updated' %>
                  </div> 
                  <div class="adapt-flex-col">
                    <%= include_column_title 'Status', 'status' %>
                  </div>
                </div>
              </div>
              <div class="adapt-flex-table-body" style="height: 10rem">
                <% if @context[:content_list].length == 0 %>
                  <div class="alert alert-info margin-top">Sorry, no <%= @content_type['noun'] %>s</div>
                <% else %>
                  <% @context[:content_list].each_with_index do |item, index| %>
                    <div class="adapt-flex-row">
                      <div class="adapt-flex-col" style="flex: 0 0 2rem;"><%= index + 1 %></div>
                      <div class="adapt-flex-col"><a href="/content/<%= item['content_type'] %>/<%= item['id'] %>"><%= item['title'] %></a></div>
                      <div class="adapt-flex-col"><%= item['author'] %></div>
                      <div class="adapt-flex-col" data-renderer="format-date"><%= item['created'] %></div>
                      <div class="adapt-flex-col" data-renderer="format-date"><%= item['last_updated'] %></div>
                      <div class="adapt-flex-col status-<%= item['status_id'] %>"><%= item['status_id'] %></div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>

        </div>
      </div>
    </div>
    <%= include_partial "footer" %>
     <script>
      amd.require(['js/fmt'], (fmt) => {
        fmt.renderDates();
      })
    </script>
  </body>
</html>